In [3]:
import pandas as pd

In [4]:
file_path = 'BSE Sensex Daily Close Jan1990 Oct2020.csv'
df = pd.read_csv(file_path)
df

                     Date      Open      High       Low  Close
1-January-1990        NaN       NaN       NaN    783.35    NaN
2-January-1990        NaN       NaN       NaN    780.01    NaN
3-January-1990        NaN       NaN       NaN    763.22    NaN
4-January-1990        NaN       NaN       NaN    760.80    NaN
5-January-1990        NaN       NaN       NaN    774.58    NaN
...                   ...       ...       ...       ...    ...
13-October-2020  40592.54  40786.82  40461.97  40625.51    NaN
14-October-2020  40623.19  40880.25  40279.55  40794.74    NaN
15-October-2020  41048.05  41048.05  39667.47  39728.41    NaN
16-October-2020  39936.61  40125.71  39699.42  39982.98    NaN
19-October-2020  40318.57  40519.48  40211.22  40431.60    NaN

[7421 rows x 5 columns]